<!DOCTYPE html>
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>About - Deep Learning Monitor</title>
    <meta content="deep learning, paper, arxiv, twitter" name="keywords">
    <meta content="Things happening in deep learning: arxiv, twitter, reddit" name="description">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet">
    <link href="https://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet">
    <link href="/static/default.css?v=14" media="all" rel="stylesheet" type="text/css">
    <script src="https://use.fontawesome.com/f194410606.js">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" type="text/javascript">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" type="text/javascript">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js" type="text/javascript">
    </script>
    <script src="/static/app.js?v=12" type="text/javascript">
    </script>
</head>
<body>
    <div class="container" id="wrapper">
        <nav class="navbar navbar-default">
            <div class="row">
                <div class="col-md-6 logo">
                    <div>
                        <h1><a href="/">Deep Learning Monitor</a></h1>
                    </div>
                    <div>
                        &nbsp; About
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="input-group" style="margin: 12px;float:right;">
                        <button class="btn btn-default" onclick="window.open('/', target='_self');" type="button">Back</button>
                    </div><!-- /input-group -->
                </div>
            </div>
        </nav>
        <div class="container single-arxiv">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="article">
                        <!-- <h3><a href="/">Deep Learning Monitor</a></h3> -->
                        <div class="article-content">
                            <p style="font-size:18px;">
                                Never in history have so many influential academic papers and news coming out every single day. It's time-consuming for researchers to keep their mind up-to-date. This simple project aims to help you to focus on your own research while monitoring the research field you care about.
                            </p>
                            <p style="font-size:18px;">
                                Depending on your own working style, you can create some monitors with the keywords related to your topic and check the new things every one or two weeks. Once you find a good paper, you can directly send it to your Mendeley or Evernote account. This site is also mobile-friendly, so that you can check them on your mobile device.
                            </p>
                            <p style="font-size:18px;">
                                Full-text search helps you to search through the content of massive deep learning papers. This feature is helpful when you write a paper.
                            </p>
                            <p style="font-size:18px;">
                                This project is inspired by <a href="http://arxiv-sanity.com" style="text-decoration: underline;">arxiv-sanity.com</a> made by Andrej Karpathy, and also <a href="https://semanticscholar.org" style="text-decoration: underline;">semanticscholar.org</a>. Please also check them if you want to make your research more efficient.
                            </p>
                            <p style="font-size:18px;">
                                Source Code: <a href="https://github.com/zomux/dlmonitor" style="text-decoration: underline;">https://github.com/zomux/dlmonitor</a>
                            </p>
                            <p style="font-size:18px;">
                                Raphael Shu, 2017
                            </p>
                        </div><!-- <ul class="list-unstyled list-inline blog-tags">
                                <li><a href="#"><span class="fa fa-tag"></span> Example heading</a></li>
                                <li><a href="#"><span class="fa fa-tag"></span> Example heading</a></li>
                                <li><a href="#"><span class="fa fa-tag"></span> Example heading</a></li>
                            </ul> -->
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    <!-- <div id="copyright" class="container">
        <p>&copy; Raphael Shu. All rights reserved.</p>
    </div> -->
    </div>
</body>
</html>
