arxiv>=2.0.0
sqlalchemy>=2.0.0
python-dotenv>=1.0.0
flask>=3.0.0
psycopg2-binary>=2.9.0
SQLAlchemy-Searchable>=2.1.0
python-twitter>=3.5
praw>=7.0.0
gunicorn>=21.0.0
six>=1.16.0
alembic>=1.13.0
pyopenssl>=24.0.0
feedparser>=6.0.0