<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Deep Learning Community - Monitoring Deep Learning Papers on Arxiv</title>
<meta name="keywords" content="deep learning, paper, arxiv, twitter" />
<meta name="description" content="Things happening in deep learning: arxiv, twitter, reddit" />
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href="https://bootswatch.com/darkly/bootstrap.min.css" rel="stylesheet">
<link href="/static/default.css?v=3" rel="stylesheet" type="text/css" media="all" />
<link href="/static/fonts.css" rel="stylesheet" type="text/css" media="all" />
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
<script type="text/javascript" src="/static/app.js?v=3"></script>

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<h1><span class="fa fa-coffee"></span><a href="#">Deep Learning Community</a></h1>
		</div>
		<div id="menu">
			<ul>
				<li class="current_page_item"><a href="#" accesskey="1" title="">Homepage</a></li>
				<li><a href="#" accesskey="2" title="">Full text search</a></li>
				<li><a href="#" accesskey="3" title="">About</a></li>
			</ul>
		</div>
	</div>
</div>

<div id="wrapper" class="container">

    <nav class="navbar navbar-default">
        <div class="row">
            <div id="keywords" class="col-md-8 keywords">
            </div>
            <div class="col-md-4">
                <div class="input-group" style="margin: 12px;">
                  <input type="text" id="new-keyword" class="form-control" placeholder="keywords">
                  <span class="input-group-btn">
                    <button id="new-keyword-btn" class="btn btn-default" type="button">Add Keyword</button>
                  </span>
                </div><!-- /input-group -->
            </div>
        </div>
    </nav>

	<div class="row subtools clearfix">
		<div class="btn-group">
		  <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<span id="date-info">Recent two weeks</span> <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu">
			<li><a href="javascript:" onclick="community.filterDate('1-week');">Recent one week</a></li>
			<li><a href="javascript:" onclick="community.filterDate('2-week');">Recent two weeks</a></li>
			<li><a href="javascript:" onclick="community.filterDate('1-month');">Recent one month</a></li>
		  </ul>
		</div>
	</div>

	<div id="column-template" style="display:none;">
		<div class="column">
			<div class="panel panel-default">
			  <div class="panel-heading">
				<h3 id="column-title-NUM" class="panel-title"></h3>
			  </div>
			  <div id="posts-NUM" class="panel-body">
				  Loading ...
			  </div>
			</div>
		</div>
	</div>
	<div class="post-columns-wrapper">
		<div class="post-columns-frame">
		    <div class="post-columns" id="post-columns"></div>
		</div>
	</div>

</div>
</div>
<script type="text/javascript" defer="defer">
    community.init();
</script>
<!-- No Footer -->
<!-- <div id="copyright" class="container">
	<p>&copy; Raphael Shu. All rights reserved.</p>
</div> -->
</body>
</html>
