{% for post in posts %}
<div class="post">
    <div class="title">{{ post.title }}</div>
    <div class="author">{{ post.authors }}</div>
    <div class="tools clearfix">
        <span class="btns">
            <span class="label label-default">{{ post.published_time.strftime('%Y-%m-%d') }}</span>
            <button type="button" class="btn btn-info">PDF</button>
            <button type="button" class="btn btn-danger">Mendeley</button>
        </span>
    </div>
</div>
<div class="hrline"></div>
{% endfor %}
